* {
    background-color: #1a1a1A;
}

#text001 {
    color:#FFF;
    right: -40px;
    font-size: 3em;
    position: absolute;
    bottom:790px;
    opacity: 0.7;
    font-weight: bold;
}

#text002{
    color:#FFF;
    right: -100px;
    font-size: 2.5em;
    position: absolute;
    bottom:70px;
    opacity: 0.7;
    font-weight: bold;
}


#text003{
    color:#FFF;
    right: -100px;
    font-size: 2.5em;
    position: absolute;
    bottom:70px;
    opacity: 0.7;
    font-weight: bold;
}

.car {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 800px;
    top: 400px;
    opacity: 0.7;
    color:#FFF;
    border: 1px solid white;
    border-radius: 20px;
    width: 570px;
    height: 300px;
    padding: 50px;
    font-size: 1.2em;
}
 
#button {
    position:absolute;
    top:1050px; 
    right: 950px;
    z-index:2;
}

input{
    opacity: 0.8;
    color:#FFF;
    transition: color 0.5s;
    border-radius: 5px;
    height: 20px;
    width: 70px;
}

input:hover {
    cursor: pointer;
    color:#FFF;
}